
body {
	background-color:#fff;	
	font-family:"Lucida Grande","bitstream vera sans","trebuchet ms",verdana,arial;
	text-align:center;
}

#page {
	background-color:#efefef;
	margin:10px auto;
	padding:20px 30px 20px 30px;
	min-height:400px;
	border:2px solid #fff;
	outline:1px solid #ccc;
	text-align:left;
    width:635px;
}



.less {
	color:#999;
	font-size:12px;
}

a {
	color:#295c72;		
}
