/*===========================================main reset================================================
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,
dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,font,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,html,i,iframe,
img,ins,kbd,label,legend,li,mark,menu,meter,nav,object,ol,output,p,pre,progress,q,rp,rt,ruby,s,samp,section,small,span,
strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video,xmp {
    margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;
}*/
div, p, form, fieldset, label, img, h1, h2, h3, h4, h5, p, ul, li, dl, dt, dd, table, td, tr {
    padding:0px;
    margin:0px;
    border:0px;
    font-weight:normal;
    text-decoration:none;
    outline:none;
    list-style:none;
}

html {
    width:100%;
    height:100%;
}

body
{background-color: #fff;
    font-size: 12px;
    font-family: Arial;
    font-weight: normal;
    color:#333;
    width:1400px;
    padding:0;
    margin:auto;
}
.clear {clear:both;}

.global-wrapper
{}
/*.global-wrapper {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    min-height: 100%;
    padding: 0 0 94px;
    position: relative;
}*/

button, a, input[type='submit'], input[type='button'], input[type="file"] {
    cursor: pointer;
}
a, a img {
    border:0px;
    outline:none;
}
h1 {
    font-size: 24px;
}

h2{
    font-size: 20px;
}
h4{
    font-size: 16px;
    padding:4px;
}

h1, h2 {
    padding: 10px;
    letter-spacing:-1px;
    color:#2D5AC3;
    font-weight:normal;
}

@font-face { font-family: BradlyHandITC; src: url(/fonts/bradhitc_bold.ttf); }

@font-face {
    font-family: BradlyHandITC;
    src: url('../fonts/bradhitc_bold-webfont.eot');
    src: url('../fonts/bradhitc_bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bradhitc_bold-webfont.woff') format('woff'),
    url('../fonts/bradhitc_bold.ttf') format('truetype'),
    url('../fonts/bradhitc_bold-webfont.svg#bradleyhand_itcbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Helvetica;
    src: url('../fonts/helvetica-webfont.eot');
    src: url('../fonts/helvetica-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/helvetica-webfont.woff') format('woff'),
    url('../fonts/Helvetica.ttf') format('truetype'),
    url('../fonts/helvetica-webfont.svg#turkmenhelveticanormal') format('svg');
    font-weight: normal;
    font-style: normal;
}
ul.path {
    margin: 15px 5px;
    overflow: hidden;
}

ul.path li {
    float: left;
    padding-left: 10px;
}

ul.path li:first-child h2 {
    padding: 0;
    margin-left: 0;
}

ul.path li a {
    color: rgba(255, 255, 255, 0.9);
    font: 12px Arial;
    text-transform: capitalize;
    text-decoration: underline;
}

ul.path li a:hover {
    text-decoration: none;
}

ul.path li h2 {
    color: rgba(255, 255, 255, 0.9);
    font: 12px Arial;
    padding: 0;
    line-height: 120%;
    font-weight: bold;
    text-transform: capitalize;
}



.center-background {
    background: url("../images/background.jpg") 0 0 no-repeat;
    min-height:635px;
}
/*------------------------------------------------------------------------*/
/*---------------------------------DEFAULT CLASSES------------------------*/
/*------------------------------------------------------------------------*/
.wrapper {
    width: 960px;
    margin: 0 auto 0;
    position: relative;
}
/*------------------------------------------------------------------------*/
/*---------------------------------HEADER---------------------------------*/
/*------------------------------------------------------------------------*/
.header {
    background: url("../images/background-header.jpg") 0 0 no-repeat;
    height:170px;
}

.logo {
    background: url("../images/logo.png") no-repeat;
    width:215px;
    height:138px;
    float:left;
    margin-left: 40px;
}

.registration
{float:right;
 width:239px;
 margin-top: 105px;
 }

.registration a.login-button{
    background: url("../images/login.png");
    width: 105px;
    height: 32px;
    display: block;
    float:left;
}

.registration a.registration-button{
    background: url("../images/registration.png");
    width: 134px;
    height: 32px;
    display: block;
    float: right;
}
.login-form {
    background: rgba(255, 255, 255, 0.8);
    height: 46px;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 17px;
    z-index: 12000;
    padding: 0;
    font: 14px/34px Arial;
    max-width: 300px;
}

.login-form.clicked {
    height: 140px;
    outline: 2px solid #D8D8D8;
}
.login-form a {
    background-color: #F2F6F9;
    display: block;
    text-align: center;
    text-transform: capitalize;
    color: #333;
    text-decoration: none;
    clear: both;
    overflow: hidden;
    padding: 6px 0;
    border-top: 1px solid #D6D6D6;
    z-index: 50;
}

.login-form a:hover {
    background-color: #00457C;
    color: #FFF;
}

.login-form img {
    border: 1px solid #C0C0C0;
    border-radius: 2px 2px 2px 2px;
    float: right;
    height: 30px;
    margin: 6px 6px 0 5px;
    width: 30px;
}

.login-form span.user-name {
    background: url("../images/login_form_bg.png") no-repeat right center;
    display: block;
    float: right;
    padding: 6px 20px 6px 0;
    margin: 0 5px 0 6px;
}

/*------------------------------------------------------------------------*/
/*---------------------------------Menu----------------------------------*/
/*------------------------------------------------------------------------*/
.menu {
    background: url("../images/background_main_menu.jpg") no-repeat;
    height:71px;
}

.menu ul {
    list-style-type:none;
    margin-left: 32px;
}
.menu ul li {
    float:left;
    padding: 0px 8px 8px;
}

.menu ul li a {
    color: #333333;
    display: block;
    font-size: 20px;
    padding-top: 23px;
    text-decoration: none;
}

.menu ul li a:hover, .menu ul li a:active {
    background: url("../images/path.png") center top no-repeat;
}

.sub_menu
{  height:50px;
    background: url("../images/sub-menu-border-bottom.jpg") 0 bottom no-repeat;
    -moz-box-shadow: 0 20px 20px 0 rgba(255,255,255,0.6); /* Для Firefox */
    -webkit-box-shadow: 0 20px 20px 0 rgba(255,255,255,0.6); /* Для Safari и Chrome */
    box-shadow: 0 20px 20px 0 rgba(255,255,255,0.6);	/* Параметры тени */
}
.sub_menu ul {
    list-style-type:none;
    margin-left: 32px;
}

.sub_menu ul li {
    float:left;
    padding: 17px 8px 16px;
}
.sub_menu ul li a {
    color: #333333;
    display: block;
    font-size: 15px;
    text-decoration: none;
}
.sub_menu ul li a:active
{background: url("../images/path1.png") center bottom no-repeat;}


/*------------------------------------------------------------------------*/
/*----------------------------------FOOTER--------------------------------*/
/*------------------------------------------------------------------------*/
.footer {
    background: url(../images/sub-menu-border-bottom.jpg) 0 top no-repeat;
    padding: 40px 0;
    text-align: center;
    clear:both;
}

.footer p {
    margin-left: 65px;
}

.footer a {
    font-size: 13px;
    color: #000000;
    text-shadow: #FFFFFF -1px -1px 1px;
    font-family: Arial;
}


/*==============================================================================
.slidesjs-container, .slidesjs-control, .slider_JS {
    width:200px !important;
    height: 117px !important;
}*/
.content {
    width:725px;
    float:left;
}

.sidebar {
    width:205px;
    height:640px;
    background-color:#3399cc;
    color:#fff;
    float:right;
    text-align:left;
    padding: 20px 10px 20px 20px;
    font-size:1em;
    font-weight:bold;
}

.slider_JS {
    width: 200px;
    height: 117px;
    display: block;
    padding:9px;
    margin:10px;
    border:1px solid #ccc;
    background-color:#fff;
    -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2); /* Для Firefox */
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2); /* Для Safari и Chrome */
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);	/* Параметры тени */
}

.star {
    margin-left: 10px;
    float:left;
}
.video-prewiev a {
    text-decoration:none;
    color: #333;
    display: block;
    clear:both;
    padding-bottom: 5px;
}
.treeview ul{
    background-color: #3399cc !important;
}
.treeview ul li a{
    color:#fff;
    font-size:14px;
    text-decoration: none;
}


/*------------------------------------------------------------------------*/
/*---------------------------------signIN FORM----------------------------*/
/*------------------------------------------------------------------------*/
form{
    padding: 10px;
    width: 100%;
}

form tbody, form tfoot {
    margin-bottom: 10px;
    display: block;
}

form tr{
    padding-bottom: 8px;
    display: block;
}
form td{
    text-align: right;
}
form th {
    width: 130px;
    padding-right: 5px;
    text-align: left;
}
form th label {
    font-weight: bold;
}
form table td input[type='text'], form table td input[type='password']{
    width: 300px;
    font: 14px Helvetica;
    color: #333;
    background-color: #FFF;
    border: 1px solid #5A7286;
    border-radius: 3px;
    padding:  4px;
    margin:0;
    float: right;
}
form table td input[type='submit'] {
    padding: 3px 7px;
    width: 100px;
}
/*------------------------------------------------------------------------*/
/*---------------------------------registration FORM----------------------*/
/*------------------------------------------------------------------------*/
form fieldset {
    margin-bottom: 10px;
}
form fieldset dl {
    width: 400px;
}
form dt {
    width: 130px;
    display: block;
    padding-right: 5px;
    padding-bottom: 8px;
    padding-top: 6px;
    text-align: left;
    clear:both;
    float: left;
}

form dt label {
    font-weight: bold;

}
form fieldset dd {
float: right;
margin-bottom: 12px;
}


form fieldset dd input[type='text'], form fieldset dd input[type='password']{

    font: 14px Helvetica;
    color: #333;
    background-color: #FFF;
    border: 1px solid #5A7286;
    border-radius: 3px;
    padding:  4px;
    margin:0;
    width: 250px;

}

form input[type='submit'] {
    padding: 3px 7px;
    width: 100px;
}

/*------------------------------------------------------------------------*/
/*--------------------------UPLOAD VIDEO FORM-----------------------------*/
/*------------------------------------------------------------------------*/
form#this_form fieldset dd textarea{
    width: 250px;
    padding:  2px;
}

form#this_form fieldset dd input[type='file'] {
    padding:  4px;
}
form#this_form fieldset dl {
    width: 420px;
}
form#this_form fieldset dd input[type='text'],
form#this_form fieldset dd input[type='password'],
form#this_form fieldset dd textarea{
    width:260px;}

 /*------------------------------------------------------------------------*/
/*---------------------------------SEARCH FORM-----------------------------*/
/*------------------------------------------------------------------------*/
.search-form{
    float: right;
    margin-top: 22px;
}
form.search-controls {
    border: 1px solid #5A7286;
    border-radius: 5px;
    background: #FFFFFF;
    padding: 3px 5px 3px 15px;
    height: 19px;
}
form.search-controls input{
    background: transparent;
    border: none;
    font-size: 11px;
    color: #666666;
    padding: 4px 0 0;
    font-family: Arial;
    line-height: 14px;
}
form.search-controls input[type="text"] {
    color: #999999;
    font-style: italic;
    float: left;
    height: 20px;
    padding: 0;
    line-height: 22px;
}

form.search-controls input[type="submit"] {
    margin: 0 0 0 3px;
    text-transform: uppercase;
    padding: 4px 0 0;
    width: auto;
}

form.search-controls select {
    background: transparent;
    border: none;
    font-size: 11px;
    color: #666666;
    font-family: Arial;
    filter: alpha(opacity=0);
    opacity: 0;
}
form.search-controls .fake-select {
    background: none;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100px;
}

.fake-select {
    overflow: hidden;
    position: relative;
    float: left;
    margin: 3px 5px 0 0;
}

.fake-select select {
    background: #E8E8E8;
    opacity: 0;
    filter: alpha(opacity=0);
    overflow: hidden;
    position: relative;
    z-index: 2;
    width: 100%;
}

.fake-select .textfield {
    background: url(../images/select_bg.png) no-repeat right center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    font: 12px/23px Helvetica;
    color: #666;
    overflow: hidden;
    padding: 0 20px 0 5px;
}
/*------------------------------------------------------------------------*/
/*---------------------------------COMMENT -------------------------------*/
/*------------------------------------------------------------------------*/
/*.form-comment form fieldset legend,
.send-additional-message h1 {
    background-color: rgba(0, 0, 0, 0.06);
    color: #333333;
    display: block;
    font: 24px/120% BradlyHandITC;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}

.form-comment form fieldset tr.tr_reply_author {
    display: none !important;
}

.form-comment a.delete_reply {
    display: none;
}

.form-comment form fieldset table {
    margin: 10px 20px;
    width: 560px;
}

.form-comment form fieldset table th {
    width: 78px;
}

.form-comment form fieldset table td label {
    font: 12px Helvetica;
    color: #333;
    margin: 20px 0 3px;
    display: block;
}

.form-comment form fieldset table td textarea {
    width: 530px;
    font: 12px/150% Helvetica;
    color: #333;
    max-width: 530px;
    max-height: 220px;
    border: 1px solid #A2A2A2;
    border-radius: 3px;
    margin: 0;
    padding: 10px;
}

.form-comment form fieldset table td input[type='text'] {
    width: 540px;
    font: 12px/17px Helvetica;
    color: #333;
    background-color: #FFF;
    border: 1px solid #A2A2A2;
    border-radius: 3px;
    padding:  7px;
    margin:0;
}


.form-comment form fieldset table td input[type='submit'] {
    float: none;
    margin: 20px auto;
    width: 100px;
}
*/
.comment {
    border-top: 1px dotted #B1B1B1;
    clear: both;
    margin: 0 0 30px;
    padding-top: 5px;
    overflow: hidden;
}

.comment .avtor {
    border: 1px solid #E4E4E4;
    box-shadow: 0 0 1px #F3F3F3;
    color: #333333;
    float: left;
    font: 13px/120% BradlyHandITC;
    margin: 5px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 112px;
}
.comment .re {display:none;}
.comment .body {
    color: #333333;
    font: 13px/150% Arial;
    margin: 20px 0;
    width:550px;
    float:right;
    text-align: left;
}

.comment .reply-quote {
    float: right;
    margin: 0 20px 20px 0;
}

.comment .reply-quote a {
    color: #999999;
    cursor: pointer;
    font: 11px Arial;
    margin: 0 5px;
    text-decoration: none;
}

.comment ul table tbody tr td {
    padding: 0 0 0 40px;
    width: 100%;
}
.comment ul table tbody tr td .body{
    width:510px;
}
.comment ul table tbody tr td .re{
    display: inline;
    float: left;
    padding-top: 5px;
}

.comment table.list-comments tbody tr td {
    border-bottom: 1px dotted #AFAFAF;
}

.comment tr td .cell-wrapper {
    position: relative;
    overflow: hidden;
}

.view{
    float:right;
    margin-right:10px;
}